nav {
     image-rendering: ; color: red;
     margin: 5px;
     padding: 10px;
}
body {
     background-color: aqua;
}

h1 {
       < margin-inline-end:center ;
}

header {
     border-image-width: 0%;
}    font size 5px;
