
 body{
  display: flex;
  flex-direction: column;
}
header{
  background-color: gray;
}


li{
 color: white;
 font-size: larger;
}

main{
  display: flex;
  flex-direction: row;
  flex: auto;

}

article{
  flex: 2;
  overflow-y: auto;
}

aside{
  flex: 1;
  overflow-y: auto;
}
 
footer{
  align-items: center;
  display: flexbox;
}

section h2 div{
  border-image-width: 10px;

}